<div class="c-timer-form">
  {{one-way-input
      class="c-timer-form__input"
      placeholder="What are you doing?"
      value=timeEntryName
      update=(action (mut timeEntryName))
      onenter=(perform submitFormTask)
  }}

  <button
    class="c-timer-form__button {{if isDisabled 'is-disabled'}}"
    onclick={{perform submitFormTask}}
  >
    Start
  </button>
</div>