/**
  Variables
*/

// Colors

$color-white: #ffffff !default;
$color-black: #000000 !default;

$color-gray: #47525d !default;
$color-gray-x-dark: #25282b !default;
$color-gray-dark: #3d464d !default;
$color-gray-medium: #7b8994 !default;
$color-gray-light: #d0d4d9 !default;
$color-gray-x-light: #f7f9fa !default;

$color-blue: #007ee5 !default;
$color-blue-x-dark: #004c8a !default;
$color-blue-dark: #0071ce !default;
$color-blue-medium: #72b6ec !default;
$color-blue-light: #cce6fa !default;
$color-blue-x-light: #f4faff !default;

$color-red: #e82110 !default;
$color-red-x-dark: #921515 !default;
$color-red-dark: #c21c1c !default;
$color-red-medium: #ed7a6f !default;
$color-red-light: #fcbdbd !default;
$color-red-x-light: #ffe3e3 !default;

$color-green: #48ac68 !default;
$color-green-x-dark: #2c683f !default;
$color-green-dark: #3a8a54 !default;
$color-green-medium: #86c49a !default;
$color-green-light: #ddf0e2 !default;
$color-green-x-light: #edfaf1 !default;

$color-yellow: #fcca00 !default;
$color-yellow-x-dark: #996e00 !default;
$color-yellow-dark: #c99700 !default;
$color-yellow-medium: #fce897 !default;
$color-yellow-light: #fff5cc !default;
$color-yellow-x-light: #fffdec !default;

$color-gray-1: #171717 !default;
$color-gray-2: #2e2e2e !default;
$color-gray-3: #454545 !default;
$color-gray-4: #5c5c5c !default;
$color-gray-5: #737373 !default;
$color-gray-6: #8a8a8a !default;
$color-gray-7: #a1a1a1 !default;
$color-gray-8: #b8b8b8 !default;
$color-gray-9: #cfcfcf !default;
$color-gray-10: #e8e8e8 !default;

// Base styles

$baseline: 23px !default;
$font-size: 13px !default;
$image-path: "../images/" !default;

// Buttons

$btn-padding-x: 1rem !default;
$btn-padding-y: 0.5rem !default;

$btn-small-padding-x: 0.8rem !default;
$btn-small-padding-y: 0.3rem !default;

$btn-big-padding-x: 1.5rem !default;
$btn-big-padding-y: 0.75rem !default;

$btn-primary-text: $color-white !default;
$btn-primary-border: $color-blue !default;
$btn-primary-bg: $color-blue !default;
$btn-primary-bg-hover: $color-blue !default;
$btn-primary-bg-active: $color-blue-dark !default;

$btn-secondary-text: $color-blue !default;
$btn-secondary-border: $color-blue !default;
$btn-secondary-bg: linear-gradient($color-white, $color-blue-x-light) !default;
$btn-secondary-bg-hover: $color-blue-x-light !default;
$btn-secondary-bg-active: linear-gradient($color-blue-x-light, lighten($color-blue-light, 5%)) !default;

$btn-tertiary-text: $color-gray !default;
$btn-tertiary-border: $color-gray-light !default;
$btn-tertiary-bg: $color-white !default;
$btn-tertiary-bg-hover: linear-gradient($color-white, $color-gray-x-light) !default;
$btn-tertiary-bg-active: $color-gray-x-light !default;
