{{#each-in
    (group-by "startedAtDisplay" sortedTimeEntries)
    as |entryListTitle timeEntries|
}}
  <div class="c-time-entry-list">
    <div class="c-time-entry-list__header">
      <div class="c-time-entry-list__title">
        {{entryListTitle}}
      </div>
    </div>

    {{#each timeEntries as |timeEntry|}}
      {{#if timeEntry.isEnded}}
        {{time-entry
            timeEntry=timeEntry
            continueEntry=(action continueTimeEntry timeEntry)
        }}
      {{else}}
        {{current-entry
            timeEntry=timeEntry
            stopEntry=(action stopEntry timeEntry)
        }}
      {{/if}}
    {{/each}}
  </div>
{{/each-in}}
