.c-entry {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 8px;

  border-top: 1px solid $color-gray-light;
  user-select: none;

  cursor: default;
}

.c-entry__left-side {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
}

.c-entry__right-side {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.c-entry__name {
  @include text-truncate();
  margin-right: 8px;

  font-size: 14px;

  color: $color-gray-medium;

  .c-entry--active & {
    color: $color-gray;
  }
}

.c-entry__tag {
  @include text-truncate();
  margin-right: 6px;
  padding: 3px 6px;

  font-size: 11px;
  line-height: 11px;

  color: $color-gray-medium;
  border-radius: 4px;
  background: $color-blue-x-light;
}

.c-entry__time {
  min-width: 106px;
  margin-right: 18px;

  font-size: 11px;
  text-transform: uppercase;

  color: $color-gray-medium;
}

.c-entry__duration {
  margin-right: 18px;

  font-size: 14px;

  color: $color-gray-medium;

  .c-entry--active & {
    font-weight: 600;

    color: $color-gray;
  }
}
