/**
  SVG icon styles
*/

.c-icon {
  fill: currentColor;

  &--13 {
    width: 13px;
    height: 13px;
  }

  &--15 {
    width: 15px;
    height: 15px;
  }

  &--20 {
    width: 20px;
    height: 20px;
  }

  &--24 {
    width: 24px;
    height: 24px;
  }
}
