.c-timer-form {
  display: flex;
  align-items: stretch;
  height: 44px;
  margin-top: 40px;
  margin-bottom: 26px;

  background-color: white;
}

.c-timer-form__input {
  flex-grow: 1;
  padding: 10px;

  border: 1px solid color(gray, light);
  border-right: 0;
  border-radius: 4px 0 0 4px;
  transition: border-color 0.2s ease-in-out;

  &:focus {
    border-color: color(blue);
  }
}

.c-timer-form__button {
  width: 100px;

  font-size: 14px;
  text-transform: uppercase;

  color: $btn-primary-color;
  border: 0;
  border-radius: 0 4px 4px 0;
  background-color: $btn-primary-bg;
  transition: background-color, opacity 0.2s ease-in-out;
  user-select: none;

  cursor: pointer;

  &:hover {
    background-color: darken($btn-primary-bg, 4%);
  }

  &:active {
    box-shadow: $btn-active-box-shadow;
  }

  &.is-disabled {
    opacity: 0.8;

    pointer-events: none;

    &:hover {
      background-color: $btn-primary-bg;
    }

    &:active {
      box-shadow: none;
    }
  }
}
