.c-time-entry-list__header {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  padding: 0 8px;
}

.c-time-entry-list__title {
  margin-right: 16px;

  font-size: 18px;

  color: color(gray, medium);
}

.c-time-entry-list__duration {
  padding: 0 8px;

  font-size: 12px;

  color: color(gray);
  border-radius: 4px;
  background-color: #e4e4e4;
}
