{{#c-popover target=popoverTarget}}
  <div class="c-tag-picker">
    {{tag-picker-input
        inputValue=inputValue
        selectedTags=selectedTags
        deselectTag=deselectTag
        setInputValue=(action "setInputValue")
    }}

    {{tag-picker-list
        inputValue=inputValue
        allTags=allTags
        selectedTags=selectedTags
        selectTag=(action "selectTag")
        createAndSelectTag=(action "createAndSelectTag")
        emptyEnter=(action "emptyEnter")
        close=close
    }}
  </div>
{{/c-popover}}