{{#c-popover target=target}}
  <div class="c-tag-picker">
    {{tag-picker-input
        inputValue=inputValue
        selectedTags=selectedTags
        removeTag=removeTag
        setInputValue=(action "setInputValue")
    }}

    {{tag-picker-list
        inputValue=inputValue
        tags=tags
        selectedTags=selectedTags
        addTag=(action "addTag")
        createNewTag=(action "createNewTag")
        close=close
    }}
  </div>
{{/c-popover}}