{{#c-popover target=popoverTarget}}
  <div class="c-tag-picker">
    {{tag-picker-input
        inputValue=inputValue
        selectedTags=selectedTags
        deselectTag=(action deselectTag)
        setInputValue=(action "setInputValue")
    }}

    {{tag-picker-list
        inputValue=inputValue
        allTags=allTags
        selectedTags=selectedTags
        onEscape=(action onEscape)
        selectTag=(action "selectTag")
        createAndSelectTag=(action "createAndSelectTag")
        onEmptyEnter=(action "onEmptyEnter")
    }}
  </div>
{{/c-popover}}
