{{#c-popover target=target}}
  <div class="c-tag-picker">
    {{tag-picker-input
        tags=selectedTags
        removeTag=removeTag
        setInputValue=(action "setInputValue")
    }}

    {{tag-picker-list
        tags=tags
        selectedTags=selectedTags
        inputValue=inputValue
        addTag=addTag
    }}
  </div>
{{/c-popover}}