<div class="o-wrap o-wrap--small">
  {{timer-form submit=(action "startNewTimer")}}

  {{time-entry-list
      timeEntries=timeEntries
      stopEntry=stopEntry
      updateEntry=updateEntry
      restartEntry=(action "restartEntry")
  }}
</div>