<div class="o-wrap o-wrap--small">
  {{timer-form submitForm=(action "startNewTimer")}}

  {{entry-list
      timeEntries=timeEntries
      stopEntry=stopEntry
      updateEntry=updateEntry
      deleteEntry=deleteEntry
      restartEntry=(action "restartEntry")
  }}
</div>