<div class="o-wrap">
  {{timer-form
      allTags=allTags
      submitForm=(action "startNewTimer")
  }}

  {{entry-list
      timeEntries=timeEntries
      allTags=allTags
      stopEntry=(action stopEntry)
      updateEntry=(action updateEntry)
      destroyEntry=(action destroyEntry)
      restartEntry=(action "restartEntry")
  }}
</div>