<div class="o-wrap">
  {{timer-form
      tags=tags
      submitForm=(action "startNewTimer")
  }}

  {{entry-list
      timeEntries=timeEntries
      tags=tags
      stopEntry=stopEntry
      updateEntry=updateEntry
      deleteEntry=deleteEntry
      restartEntry=(action "restartEntry")
  }}
</div>