<div class="o-wrap">
  {{timer-form
      allTags=allTags
      submitForm=(action "startNewTimer")
  }}

  {{entry-list
      timeEntries=timeEntries
      allTags=allTags
      stopEntry=stopEntry
      updateEntry=updateEntry
      destroyEntry=destroyEntry
      restartEntry=(action "restartEntry")
  }}
</div>