<div class="o-wrap o-wrap--small">
  {{timer-form submit=(action "startNewTimer")}}

  {{current-timer
      timeEntry=currentTimeEntry
      stopTimer=(action this.attrs.stopTimeEntry currentTimeEntry)
  }}

  {{time-entry-list timeEntries=timeEntries}}
</div>