// scss-lint:disable ImportantRule

/**
  Layout Helpers
*/

.u-trim-margin {
  margin: 0 !important;
}

.u-trim-padding {
  padding: 0 !important;
}

.u-mar-right-s {
  margin-right: 8px !important;
}
